# WARNING: IMPORTANT UPDATE NOTICE                                          
# If you have updated to 1.0.0, please remove all double quotes            
# in your .env file.                                                        

# Replace with your DB credentials!
DATABASE_URL=postgres://user:password@host:port/db-name

# Immich API Configuration
IMMICH_URL=http://your-immich-instance:port
IMMICH_API_KEY=your-api-key-here
